################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApi_Dengue/src/Api/bin/Debug/netcoreapp3.1
