################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjetoDengue_WebAPI/.vs/ProjetoDengue_WebApi/v16
